MONGODB_URI=mongodb+srv://2154810058:huy123@mern.rwb8m.mongodb.net/MERN-Ecommerce?retryWrites=true&w=majority&appName=MERN


TOKEN_SECRET_KEY = "QWEWRFUYWTDUUGHUFUHSVFUWIUQWDFIUR"


FRONTEND_URL = http://localhost:3000